[{logger, [
    {level, info},          % Sets the default log level to 'info'
    {handlers, [
        {console, [
            {level, info},           % Console logs will include 'info' level and above
            {format, "$time $metadata[$level] $message\n"}
        ]}
    ]}
]},
 {guanco, [
    % Any specific configuration for the Guanco application can go here.
    % For example, setting any application-specific configuration options.
    {guanco_option, value}
 ]}
].
