[
    {logger, [
        {level, info},          % Sets the default log level to 'info'
        {handlers, [
            {console, [
                {level, info},           % Console logs will include 'info' level and above
                {format, "$time $metadata[$level] $message\n"}
            ]}
        ]}
    ]},
    {guanco, [
        {ollama_api_url, "http://localhost:11434"},  % Override value for HTTPS
        {pool_size, 5},
        {max_overflow, 10}
    ]}
].
